# Document files #
##################
*.pdf
*.doc
*.docx

# Compressed archives #
#######################
*.zip

# Matlab stuff #
################
*.asv

# Image stuff #
###############
*.jpg
*.png
*.eps
*.fig